.resume-container{
  height:900px;
  text-align: center;
  padding-top:120px;
}

.download-resume{
  margin:10px;
  border:none;
  padding:10px;
  border-radius: 10px;
}

.download-resume:hover{
  background-color: magenta;
  color:white;
  cursor: pointer;
}